---
# google-build-using-namespace is suppressed because rclcpp_components_register_node
# auto-generates node_main_*.cpp containing "using namespace rclcpp::executors;" which
# cannot be annotated with NOLINT.
Checks: 'google-*,clang-diagnostic-*,clang-analyzer-*,readability-identifier-naming,-clang-diagnostic-deprecated-declarations,-google-build-using-namespace'
WarningsAsErrors: ''
FormatStyle: google
ExtraArgs:
  - '-std=c++17'
  - '-I/usr/include/c++/13'
  - '-I/usr/include/x86_64-linux-gnu/c++/13'
  - '-I/usr/include/c++/13/backward'
  - '-I/usr/lib/gcc/x86_64-linux-gnu/13/include'
  - '-I/usr/local/include'
  - '-I/usr/include/x86_64-linux-gnu'
  - '-I/usr/include'
CheckOptions:
  - key:   readability-identifier-naming.FunctionCase
    value: CamelCase
...
