<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="g1_29dof_rev_1_0_with_inspire_hand_DFQ">
  <!--
      URDF xacro for G1 with Inspire Robots RH56DFX/DFQ hands on real hardware.
      G1 body and hands are separate ros2_control systems so hand interfaces
      can be swapped independently.
    -->
  <xacro:arg name="network_interface" default="eth0"/>
  <xacro:arg name="kp" default="60.0"/>
  <xacro:arg name="kd" default="1.5"/>
  <xacro:arg name="waist_kp" default="200.0"/>
  <xacro:arg name="waist_kd" default="2.0"/>
  <xacro:arg name="inspire_command_topic" default="rt/inspire/cmd"/>
  <xacro:arg name="inspire_state_topic" default="rt/inspire/state"/>
  <xacro:arg name="inspire_state_timeout_sec" default="3.0"/>
  <xacro:include filename="$(find g1_description)/g1_29dof_rev_1_0_with_inspire_hand_DFQ.urdf"/>
  <xacro:include filename="g1_no_hand_real.ros2_control.xacro"/>
  <xacro:include filename="inspire_rh56dfx_real.ros2_control.xacro"/>
  <xacro:g1_ros2_control name="G1RealSystem" network_interface="$(arg network_interface)" kp="$(arg kp)" kd="$(arg kd)" waist_kp="$(arg waist_kp)" waist_kd="$(arg waist_kd)"/>
  <xacro:inspire_rh56dfx_ros2_control name="InspireRH56DFXSystem" network_interface="$(arg network_interface)" command_topic="$(arg inspire_command_topic)" state_topic="$(arg inspire_state_topic)" state_timeout_sec="$(arg inspire_state_timeout_sec)"/>
</robot>
