<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="g1_29dof">
  <xacro:arg name="initial_positions_file" default="initial_positions_no_hand.yaml"/>
  <!-- Import g1 29dof (no hand) urdf -->
  <xacro:include filename="$(find g1_description)/g1_29dof.urdf"/>
  <!-- Import ros2_control xacro -->
  <xacro:include filename="g1_no_hand.ros2_control.xacro"/>
  <xacro:g1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
</robot>
