<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="g1_29dof_rev_1_0_with_inspire_hand_FTP">
    <xacro:arg name="initial_positions_file" default="initial_positions_inspire_ftp.yaml" />

    <!-- Import g1 29dof with Inspire FTP hand urdf -->
    <xacro:include filename="$(find g1_description)/g1_29dof_rev_1_0_with_inspire_hand_FTP.urdf" />

    <!-- Import ros2_control xacro -->
    <xacro:include filename="g1_inspire_ftp.ros2_control.xacro" />

    <xacro:g1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
